.expenseForm {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  background-color: #f5f5f5;
}
.expenseForm button{
  margin: 50px;
  justify-content: space-around;
}
.formHeader {
  display: flex;
  justify-content: space-between;
   
}
.hidden {
  display: none;
}

.formHeader h2 {
  margin-bottom: 50px;
}

.expenseForm form {
  display: flex;
  flex-direction: column;
}

.expenseForm input,
.expenseForm select {
  
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
} 
.premiumBtn {
   text-align: center;
  background-color: #b26868;
  color: #333;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 78%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.premiumBtn:hover {
  background-color: #eb680a;
  box-shadow: 2px 3px 4px #702c17;
}

 .csvBtn {
  justify-content:center;
  background-color: #3594fa;
  margin-top: 1rem;
   margin-left: 50%; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.csvBtn a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.csvBtn:hover {
  background-color: #096cd6;
  box-shadow: 2px 3px 4px #023a75;
}
.themeBtn {
  display: inline-block;
  background-color: #62676d;
  color: #ccc;
  margin-bottom: 2rem;
  width: 7rem;
  height: 2.5rem;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
